NEXT_PUBLIC_PADDLE_ENV=sandbox
NEXT_PUBLIC_PADDLE_CLIENT_SIDE_TOKEN=test_your_client_side_token
PADDLE_API_KEY=pdl_sdbx_apikey_your_api_key
PADDLE_WEBHOOK_SECRET=pdl_ntfset_your_webhook_secret

NEXT_PUBLIC_PADDLE_PRICE_LIFESIGNAL_FAMILY_MONTHLY=pri_xxx
NEXT_PUBLIC_PADDLE_PRICE_LIFESIGNAL_CAREGIVER_MONTHLY=pri_xxx
NEXT_PUBLIC_PADDLE_PRICE_FAITHSIGNAL_CHURCH_MONTHLY=pri_xxx
NEXT_PUBLIC_PADDLE_PRICE_FAITHSIGNAL_PASTORAL_ROUNDS=pri_xxx
